*{
	font-family: 'Roboto', Arial, sans-serif;
	font-weight: normal;
	color: #f2b632;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-touch-callout: none;
	-webkit-user-select: none; 
	-moz-user-select: none; 
	-ms-user-select: none;
	user-select: none;	
}
:root{
	font-size: 16px;	
}
body{
	position: relative;	
	padding-top: 60px;
	overflow-x: hidden;
	background: #252839;
}
body, nav ul{
	margin: 0;
}
.box{
	margin: 0 20px;
	box-sizing: border-box;
}
.clear{
	clear: both;
	margin: 0;
	padding: 0;
}
/*-----------------------------------------*/
/*----------------- Fonts -----------------*/
/*-----------------------------------------*/
h1{
	font-size: 1.75rem;
	margin-top: 0;
}
h1, h2, h3{
	text-transform: uppercase;
	letter-spacing: 2px;
	text-align: center;
	font-weight: 300;
}
/*----------------------------------------------*/
/*----------------- Navigation -----------------*/
/*----------------------------------------------*/
header{
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 9999;
}
nav{
	background: #252839;
	max-height: 55px;
	padding: 20px 25px;
	-webkit-box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.35);
	-moz-box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.35);
	box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.35);
}
nav ul{
	padding: 0;
}
nav ul li{
	float: left;
	line-height: 100%;
	display: inline-block;
	list-style-type: none;
}
nav ul li img{
	vertical-align: middle;
}
nav li:nth-child(1), nav li:nth-child(3){
	width:10%
}
.hamburger {
	position: relative;
	padding-left: 1.25em;
}
.hamburger:before {
	content: "";
	position: absolute;
	left: 0;
	top: 0.25em;
	width: 25px;
	height: 0.2em;
	background: #f2b632;
	box-shadow: 0 0.5em 0 0 #f2b632, 0 1em 0 0 #f2b632;
}
nav li:nth-child(2){
	width: 80%;
	text-align: left;
	color: #f2b632;
	font-size: 21px;
	letter-spacing: 2px;
	padding-left: 10%;
	box-sizing: border-box;
}
nav li:nth-child(3){
	text-align: right;
}
nav li:nth-child(3) img{
	width: 4px;
}
/*----------------------------------------------*/
/*----------------- Map Styles -----------------*/
/*----------------------------------------------*/
#mapHolder{
	width: 100%;
	height: 170px;
	position: relative;
	z-index: -1;
	overflow: hidden;
	margin-bottom: -80px;
	-webkit-transform: skewY(-6deg);
	-moz-transform: skewY(-6deg);
	transform: skewY(-6deg);
	transform-origin: top left;
	-webkit-box-shadow: 0px 5px 13px 0px rgba(0,0,0,0.35);
	-moz-box-shadow: 0px 5px 13px 0px rgba(0,0,0,0.35);
	box-shadow: 0px 5px 13px 0px rgba(0,0,0,0.35);
}
#cineMap{
	width: 100%;
	height: 130%;
	-webkit-transform: skewY(6deg);
	-moz-transform: skewY(6deg);
	transform: skewY(6deg);
}
/*----------------------------------------------*/
/*----------------- Search Box -----------------*/
/*----------------------------------------------*/
#searchBox{
	background: #f2b632;
	padding: 20px;
	margin-bottom: 25px;
	-webkit-box-shadow: 0px 4px 10px 4px rgba(0,0,0,0.52);
	-moz-box-shadow: 0px 4px 10px 4px rgba(0,0,0,0.52);
	box-shadow: 0px 4px 10px 4px rgba(0,0,0,0.52);
}	
#searchBox h2{
	color: 	#252839;
	margin: 0 0 10px 0;
}
.append-form input{
	margin-right: -5px;	
	height: 40px;
	border: none;
	max-width: 197px;
	width: 100%;
	padding: 0 20px;
	box-sizing: border-box;
   	font-size: 16px;
}
.append-form input, .append-form div, .btn-group{
	display: inline-block;	
	vertical-align: middle;
}
a.btn{
	background: #252839;
	color: #fff;
	text-transform: uppercase;
	padding: 5px;
    	box-sizing: border-box;
	text-decoration: none;
}
#searchBox a.btn{
	float: left;
	height: 40px;
     	width: 40px;
	text-align: center;
	line-height: 30px;
}
#searchBox a.btn:first-child{
	/*border-right: 2px solid #f2b632;	*/
	margin-right: 2px;
}
a.btn img{
	vertical-align: middle;	
	margin-top: -2px;
}
/*----------------------------------------------*/
/*----------------- Box Office -----------------*/
/*----------------------------------------------*/
figure{
	width: 50%;
	box-sizing: border-box;
	margin:0 0 15px 0;
	float: left;
}	
figure:nth-child(odd){
	padding-right: 10px;
}
figure:nth-child(even){
	padding-left: 10px;
}
figure img{
	height: auto;
	max-width: 100%;
}
figcaption{
	font-size: 12px;	
}
