*{
	font-family: 'Roboto', Arial, sans-serif;
	font-weight: normal;
	color: #f2b632;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-touch-callout: none; /* iOS Safari */
	    -webkit-user-select: none; /* Safari */
	       -moz-user-select: none; /* Firefox */
		-ms-user-select: none; /* Internet Explorer/Edge */
		    user-select: none;	
}
:root{
	font-size: 16px;	
}
body{
	position: relative;	
	padding-top: 60px;
	overflow-x: hidden;
}
body, nav ul{
	margin: 0;
}
/*-----------------------------------------*/
/*----------------- Fonts -----------------*/
/*-----------------------------------------*/
h1{
	font-size: 1.75rem;
	margin-top: 0;
}
h1, h2, h3{
	text-transform: uppercase;
	letter-spacing: 2px;
	text-align: center;
}
/*----------------------------------------------*/
/*----------------- Navigation -----------------*/
/*----------------------------------------------*/
nav{
	background: #252839;
}
nav ul{
	padding: 0;
}
nav ul li{
	display: inline-block;
	list-style-type: none;
}
nav ul li img{
	vertical-align: middle;
}
/*------------- Top Nav Styles -------------*/
header{
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 9999;
}
#topNav{
	max-height: 55px;
	padding: 20px 25px;
	-webkit-box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.35);
	-moz-box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.35);
	box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.35);
}
#topNav li{
	float: left;
	line-height: 100%;
}
#topNav li:nth-child(1), #topNav li:nth-child(3){
	width:10%
}
#topNav li:nth-child(2){
	width: 80%;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
	font-size: 21px;
	letter-spacing: 2px;
}
#topNav li:nth-child(3){
	text-align: right;
}
.home #topNav li:nth-child(1) img{
	opacity: 0;
}
