*{
	font-family: 'Roboto', Arial, sans-serif;
	font-weight: normal;
	color: #f2b632;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-touch-callout: none;
	-webkit-user-select: none; 
	-moz-user-select: none; 
	-ms-user-select: none;
	user-select: none;	
}
:root{
	font-size: 16px;	
}
body{
	position: relative;	
	padding-top: 60px;
	overflow-x: hidden;
	background: #252839;
}
body, nav ul{
	margin: 0;
}
.box{
	margin: 0 20px;
	box-sizing: border-box;
}
.clear{
	clear: both;
	margin: 0;
	padding: 0;
}
#boxOffice:after, .filmSearch p:after, .film-list-port:after,
.film-list-land:after, .film-times p:after{
	content: "";
	display: table;
	clear: both;
}
/*-----------------------------------------*/
/*----------------- Fonts -----------------*/
/*-----------------------------------------*/
h1{
	font-size: 1.75rem;
	margin-top: 0;
}
h1, h2, h3{
	text-transform: uppercase;
	letter-spacing: 2px;
	text-align: center;
	font-weight: 300;
}
/*----------------------------------------------*/
/*----------------- Navigation -----------------*/
/*----------------------------------------------*/
header{
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 9999;
}
.top-bar{
	background: #252839;
	max-height: 55px;
	padding: 20px 25px;
	-webkit-box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.35);
	-moz-box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.35);
	box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.35);
}
.top-bar ul, nav ul{
	padding: 0;
	margin: 0;
}
.top-bar ul li{
	float: left;
	line-height: 100%;
	display: inline-block;
	list-style-type: none;
}
.top-bar ul li img{
	vertical-align: middle;
}
.top-bar li:nth-child(1), .top-bar li:nth-child(3){
	width:10%;
	height: 21px;
}
.hamburger {
	position: relative;
	padding-left: 1.25em;
}
.hamburger:before {
	content: "";
	position: absolute;
	left: 0;
	top: 0.25em;
	width: 25px;
	height: 0.2em;
	background: #f2b632;
	box-shadow: 0 0.5em 0 0 #f2b632, 0 1em 0 0 #f2b632;
}
.top-bar li:nth-child(2){
	width: 80%;
	text-align: left;
	color: #f2b632;
	font-size: 21px;
	letter-spacing: 2px;
	padding-left: 10%;
	box-sizing: border-box;
}
.top-bar li:nth-child(3){
	text-align: right;
}
.top-bar li:nth-child(3) img{
	width: 4px;
}
nav{
	height: 100%;
	height: 100vh;
	background: #fff;
	width: 60%;
	position: fixed;
	z-index: 4;
	top: 0;
	left: -60%;
	overflow-x: hidden;
	padding-top: 20px;
	-webkit-transition: 0.5s;
	transition: 0.5s;
}
nav span{
	color: 	#252839;
	font-size: 1.2rem;
	padding: 0 20px;
	font-weight: 300;
    	text-transform: uppercase;
	float: left;
}
nav span.close{
	float: right;
	
}
nav ul{
	padding-top: 20px;
}	
nav ul li {
	text-transform: uppercase;
	list-style-type: none;
	padding: 30px 0 0 20px;
	font-size: 1.7rem;
}
nav ul li a{
	color: #252839;
	text-decoration: none;
}
.close{
	cursor: pointer;	
}
.is-showing{
	left:0;
	-webkit-box-shadow: 5px 0px 10px 0px rgba(0,0,0,0.6);
	-moz-box-shadow: 5px 0px 10px 0px rgba(0,0,0,0.6);
	box-shadow: 5px 0px 10px 0px rgba(0,0,0,0.6);
}
/*----------------------------------------------*/
/*----------------- Map Styles -----------------*/
/*----------------------------------------------*/
#mapHolder{
	width: 100%;
	height: 170px;
	position: relative;
	z-index: 1;
	overflow: hidden;
	margin-bottom: -80px;
	-webkit-transform: skewY(-6deg);
	-moz-transform: skewY(-6deg);
	transform: skewY(-6deg);
	transform-origin: top left;
	-webkit-transition: height 1s ease-in-out;
	-moz-transition: height 1s ease-in-out;
	transition: height 1s ease-in-out;
	-webkit-box-shadow: 0px 5px 13px 0px rgba(0,0,0,0.35);
	-moz-box-shadow: 0px 5px 13px 0px rgba(0,0,0,0.35);
	box-shadow: 0px 5px 13px 0px rgba(0,0,0,0.35);
}
#cineMap{
	width: 100%;
	height: 130%;
	-webkit-transform: skewY(6deg);
	-moz-transform: skewY(6deg);
	transform: skewY(6deg);
}
#mapHolder.tallMap, .tallMap{
	height: calc(100% - 61px);
	height: calc(100vh - 61px);	
	margin-bottom: 0;
	transform: none;
}
.tallMap #cineMap{
	transform: none;
}
/*----------------------------------------------*/
/*----------------- Search Box -----------------*/
/*----------------------------------------------*/
#searchBox{
	background: #f2b632;
	padding: 20px;
	position: relative;
	z-index: 2;
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
	-webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.52);
	-moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.52);
	box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.52);
}	
.absoluteSearch{
	position: absolute;
	bottom: 170px;
}
#searchBox label, #searchBox h2{
	display: block;
	color: #252839;
	margin: 0 0 10px 0;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-align: center;
	font-weight: 300;
	font-size: 24px;
}
#searchBox h2 strong{
	color: #252839;	
}

.append-form input{
	margin-right: -5px;	
	height: 40px;
	border: none;
	max-width: 197px;
	width: 100%;
	padding: 0 20px;
	box-sizing: border-box;
   	font-size: 16px;
	color: #252839;
}
.append-form input, .append-form div, .btn-group{
	display: inline-block;	
	vertical-align: middle;
}
a.btn{
	background: #252839;
	color: #fff;
	text-transform: uppercase;
	padding: 5px;
    	box-sizing: border-box;
	text-decoration: none;
	display: inline-block;
}
#searchBox a.btn{
	float: left;
	height: 40px;
     	width: 40px;
	text-align: center;
	line-height: 30px;
}
#searchBox a.btn:first-child{
	/*border-right: 2px solid #f2b632;	*/
	margin-right: 2px;
}
a.btn img{
	vertical-align: middle;	
	margin-top: -2px;
}
#searchBox .filmSearch p{
	width: 70%;
	margin: 15px auto 0;
}	
#searchBox .filmSearch a.btn{
	display: inline-block;
	width: auto;
	padding: 5px 10px;
}
#searchBox .filmSearch a.cancel-search{
	background: #990d03;
	float: right;
}

/*----------------------------------------------*/
/*----------------- Box Office -----------------*/
/*----------------------------------------------*/
#boxOffice{
	margin-top: 25px;	
}
figure{
	width: 50%;
	box-sizing: border-box;
	margin:0 0 15px 0;
	float: left;
	overflow: hidden;
}	
#boxOffice a:nth-child(odd) figure{
	padding-right: 10px;
}
#boxOffice a:nth-child(even) figure{
	padding-left: 10px;
}
figure img{
	height: auto;
	max-width: 100%;
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}
figcaption{
	font-size: 12px;	
}
.film-search figure img{
	-webkit-transform: scale(1.02);	
	-moz-transform: scale(1.02);	
	transform: scale(1.02);	
}
.film-search figcaption{
	color: #fff;	
}
/*----------------------------------------------*/
/*----------------- Map Window -----------------*/
/*----------------------------------------------*/
.gm-style-iw h1{
	margin-bottom: 0;
}
.gm-style-iw p{
	margin-top: 0;
}
#filmTimes h2, #filmTimes h2 small, .film-times p,
.film-times li, .film-times li a{
	color: #fff;
}
#filmTimes{
	background: #252839;
	padding: 25px 20px;
	box-sizing: border-box;
	position: absolute;
	top: 78px;
	left: 20px;
	right: 20px;
	height: calc(100vh - 100px);
	z-index: 9000;
	-webkit-box-shadow: 0px 0px 0px 25px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 0px 0px 25px rgba(0,0,0,0.5);
	box-shadow: 0px 0px 0px 25px rgba(0,0,0,0.5);
}
#filmTimes .btn-close{
	position: absolute;
	top: -20px;
	right: -13px;
	font-size: 1.3rem;
	background: #f2b632;
	color: #252839;
	line-height: 1;
	padding: 19px 14px;
	border-radius: 100%;
	text-transform: uppercase;
	-webkit-transform: scaleY(0.7);
	-moz-transform: scaleY(0.7);
	transform: scaleY(0.7);
	-webkit-box-shadow: 0px 6px 6px 0px rgba(0,0,0,0.35);
	-moz-box-shadow: 0px 6px 6px 0px rgba(0,0,0,0.35);
	box-shadow: 0px 6px 6px 0px rgba(0,0,0,0.35);
}	
#filmTimes h2{
	font-size: 1.08rem;
	text-align: left;
}
.film-times h5{
	margin: 0;
	font-size: 1rem;
}
.film-thumb img{
	max-width: 100%;
}
@media all and (orientation: portrait) { 
	.film-list-land{
		display: none;
	}		
	.film-thumb{
		width: 40%;
		float: left;
	}
	.film-times{
		width: 60%;
		float: left;
		padding: 0 10px;
		box-sizing: border-box;
	}
	.film-times p{
		margin: 15px 0;
		font-size: 1rem;
		text-align: center;
	}
	.film-times p a{
		float: left;	
		vertical-align: middle;
		border: 1px solid #fff;
		padding: 0 5px;
	}
	.film-times p a:last-child{
		float: right;	
	}
	.film-times ul{
		margin: 0;
		padding: 0;
	}
	.film-times li.dropdown{
		position: relative;
		list-style-type: none;
		text-align: center;
	}
	.film-times li a{
		text-decoration: none;
		text-align: center;
		border: 1px solid #fff;
		padding: 5px 0;
		box-sizing: border-box;
		display: block;
		margin-bottom: 15px; 
	}
	.film-times .dropdown-menu{
		display: none;	
		position: absolute;
		width: 100%;
		background: #fff;
	}
	.film-times .dropdown-menu li{
		color: #252839;
		margin-bottom: 5px;
	}
}
@media all and (orientation: landscape) { 
	.film-list-port{
		display: none;
	}	
	#filmTimes h2 {
	    font-size: 1.5rem;
	    text-align: left;
	    margin-top: 0;
	}
	.film-thumb{
		width: 30%;
		float: left;
	}
	.film-thumb img{
		max-width: 100%;
	}
	.film-times{
		width: 70%;
		float: left;
		padding: 0 10px;
		box-sizing: border-box;
	}
	.film-times p{
		border-bottom: 1px solid rgba(255,255,255,0.2);
	}	
	.date-controls{
		text-transform: none;
		border: 1px solid rgba(255,255,255,0.2);
		border-bottom: none;
		margin-right: 20px;	
		opacity: 0.2;
		color: #fff;
		text-decoration: none;
		font-size: 0.8rem;
		padding: 5px 20px;
		display: inline-block;
	}
	.date-controls.active{
		border-bottom: 1px solid #252839;
		opacity: 1;
		margin-bottom: -1px;
	}
	tr{
		margin-bottom: 20px;
	}	
	th{
		color: #fff;
		text-align: left;
		padding-right: 30px;
	}
	td{
		padding-right: 20px;	
	}
}













